.service {
     display: block;
}

.tab-header-service {
     position: sticky;
     top: 5.5rem;
     background-color: var(--color-bg);
     z-index: 2;
     width: 100%;
     overflow-x: auto;
}

.tab-header__list {
     display: flex;
     flex-direction: row;
     align-items: center;
     font-size: 1rem;
     line-height: 20px;
}

.tab-header__list li {
     height: 100%;
     flex: 1 0;
     list-style: none;
}

.tab-header__item {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     padding: 1.5rem;
     font-size: 1rem;
     cursor: pointer;
     position: relative;
     width: 100%;
     gap: 10px;
}

.item_icon {
     font-size: 30px;
}

.tabactive {
     color: var(--color-bg);
     background-color: var(--linkdin-color);
     padding-left: 2rem;
     padding-top: 3rem;
     padding-bottom: 3rem;
}

.explore_icon {
     background-color: var(--main-color);
     color: var(--bg-color);
     padding: 1rem;
     font-size: 1rem;
     text-transform: capitalize;
     width: 15rem;
     border-radius: 8px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 1px solid #fff;
}

.explore_icon:hover {
     background-color: var(--color-bg);
     color: var(--main-color);
}

.tab-card {
     padding: 1rem 1rem;
     display: flex;
     color: var(--color-bg);
     justify-content: center;
     background-color: var(--linkdin-color);
}

.tab-card-col-left {
     margin-top: -4rem;
     flex: 1;
     width: 55%;
}

.tab-card-col-title {
     font-size: 2rem;
     margin-bottom: 0;
     text-transform: uppercase;
     font-weight: 700;
     color: var(--bg-color);
}

.tab-card-col-header {
     font-weight: 700;
     margin-bottom: 1rem;
     margin-top: 1rem;
     font-size: 2.5rem;
     line-height: 50px;
}

.tab-card-col-header span {
     color: var(--color-text);
}

.tab-card-col-des {
     font-size: 1.25rem;
     line-height: 30px;
     letter-spacing: 0;
     margin-bottom: 24px;
     color: var(--color-footer-text);
}

.tab-card-col-button {
     margin-top: 2.5rem;
     margin-bottom: 2.5rem;
     padding: 1rem;
     font-size: 1rem;
     text-transform: uppercase;
     background-color: var(--main-color);
     color: var(--color-footer-text);
}

.tab-card-col-right img {
     height: 300px;
     width: 300px;
     margin-left: 900px;
     margin-top: -200px;
}

@media screen and (max-width: 786px) {
     .tab-header__item {
          padding: 1rem;
          font-size: 0.875rem;
     }

     .tab-header-service {
          position: sticky;
          top: 0;
          background-color: var(--color-bg);
          z-index: 2;
          width: 100%;
          overflow-x: auto;
     }

     .explore_icon {
          font-size: 0.875rem;
          padding: 0.75rem;
          width: 10rem;
          margin-left: 10rem;
     }

     .tab-card {
          flex-direction: column;
          padding: 0.5rem;
     }

     .tab-card-col-left {
          margin-top: 0;
          width: 100%;
     }

     .tab-card-col-title,
     .tab-card-col-header {
          font-size: 1.5rem;
          text-align: center;
     }

     .tab-card-col-header {
          font-size: 2rem;
          line-height: 1.2;
     }

     .tab-card-col-des {
          font-size: 1rem;
          line-height: 1.5;
          margin-bottom: 16px;
     }

     .tab-card-col-button {
          margin-top: 1rem;
          margin-bottom: 1rem;
          padding: 0.75rem;
          font-size: 0.875rem;
     }

     .tab-card-col-right img {
          height: 300px;
          width: 500px;
          margin-left: 1rem;
          margin-top: 1rem;
          align-self: center;
     }
}